/* style.css */

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }

      .list_intro{
        background-color: black;
        padding-top: 50px;
        padding-bottom: 50px;
        color: white;
      }

      .list_intro .container{
        padding-top: 50px;
        max-width:1000px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .list_intro .container .list_intro_left{
        flex: 1.5;
      }

      .list_intro .container .list_intro_left h2{
        font-size: 12px;
        opacity: .6;
        letter-spacing: 0.2em;
      }

      .list_intro .container .list_intro_left h1{
        margin-top: 0;
        font-size: 36px;
        letter-spacing: 0.1em;
      }

      .list_intro .container .list_intro_left p{
        font-size: 12px;
        letter-spacing: 0.2em;
        opacity: .8;
        word-wrap: break-word;
        word-break: keep-all;
      }
      
      .list_intro .container .list_intro_right{
        flex: 1;
        text-align: center;
      }

      .list_intro .container .list_intro_right button{
        background: white;
        color: black;
        border: 2px solid black ;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 14px;
        transition: .5s ease;
      }

      .list_intro .container .list_intro_right button:hover{
        transition: .5s ease;
        border: 2px solid white;
        background: black;
        color: white;
      }
       
        .serv_list{
          padding-top:70px;
          padding-bottom:70px;
        }
        .serv_list .container{
            max-width: 1100px;
            margin:auto;
        }
      
        .serv_list .container .title ul{
          padding-left: 0;
          list-style: none;
      }
      .serv_list .container .title ul li{
          display: inline;
          margin-right: 30px;
      }
      .serv_list .container .title ul li a{
          text-decoration: none;
          color: #444;
      }

      .serv_list .container .item_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .serv_list .container .item_list .card{
        border: 1px solid #eee;
        border-radius: 5px;
        height: 350px;
        width: 250px;
        padding: 5px;
        margin-bottom: 10px;
      }

      .serv_list .container .item_list .card img{
        height: 200px;
        width: 250px;
      }

      .serv_list .container .item_list .card .text p{
        font-size: 14px;
        opacity: .8;
      }

      .serv_list .container .card .text button{
        background: black;
        color: white;
        border: 2px solid white ;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 10px;
        transition: .5s ease;
      }

      .serv_list .container .item_list .card .text button:hover{
        transition: .5s ease;
        border: 2px solid black;
        background: transparent;
        color: black;
      }
      
 /* product.html */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }

        /* 중앙 정렬 스타일 추가 */
        .product-details {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .product-info {
            max-width: 400px;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .product-image {
            margin-right: 20px;
        }